@import (reference) "../../../../less/fonts";

@grey: #3c3c3c;

.mainMenu {
  transition: 0.5s;
  opacity: 0;

  .mainMenuLinks,
  .mainMenuFooter {
    transition:  0.4s;
    transform: translateX(-100%);
  }

  &.open {
    opacity: 1;

    .mainMenuLinks,
    .mainMenuFooter {
      transform: translateX(0);
    }
  }

  .mainMenuLinks {
    height: calc(100% - 80px);
    counter-reset: nav-counter;
    padding: 20px 0;
  }

  .navLink {
    counter-increment: nav-counter;
    a {
      display: block;
      text-transform: uppercase;
      color: #ffffff;
      font-family: @bebas;
      font-size: 24px;
      text-align: center;

      &::before {
        content: counters(nav-counter, ".", decimal-leading-zero);
        font-family: @roboto;
        font-weight: 600;
        display: block;
        font-size: 55px;
        overflow: hidden;
        margin-bottom: 5px;
        height: 35px;
        color: @grey;
      }
    }
  }

  .mainMenuFooter {
    height: 80px;
    border-top: 1px solid @grey;
    padding: 15px 0;
    color: #fff;
    font-size: 13px;
  }

  .socialLinks {
    margin-bottom: 15px;

    span {
      margin: 0 10px;
      color: @grey;
    }

    svg {
      display: block;
    }
  }

  .mailLink {
    text-align: center;

    svg {
      vertical-align: middle;
    }

    span {
      margin: 0 10px;
      display: inline-block;
      color: #757778;
    }
  }


  @media (max-width: 767px) {
    background-image: url("../../../../assets/images/nav_moby.jpg");
    background-position: center;
    background-size: cover;
  }
}
