.desktopVertical {
  height: 100%;

  :global(.slick-slide) {
    background-color: #f55455;
    color: #f55455;

    &:nth-child(even) {
      background-color: #3e71d7;
      color: #3e71d7;
    }
  }
}

.slide {
  height: 100%;
  position: relative;
}

.bgTitle {
  display: block;
  position: absolute;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  font-size: 10vw;
  text-transform: uppercase;
  line-height: 0.9;
  width: 200%;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 10%;
  font-weight: 800;

  &::first-line {
    text-indent: -10%;
  }
}
