@import "reset";
@import "fonts";
@import "utility";
@import 'colors';
@import "glitch";

html,
body,
#root {
  height: 100%;
}

body {
  font-family: Tahoma,Arial, sans-serif;
}

.container {
  padding: 0 15px;
  max-width: 1710px;
  margin: 0 auto;
  position: relative;
}

canvas {
  display: block;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;

  main {
    flex: 1;
  }
}

.app-placeholder {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background-color:   @main-bgc;
}

.main-content {
  position: relative;
}