@import (reference) "../../../less/fonts";

@main: #ebf0f3;

.portfolio {
  background-color: @main;
}

.pageLabel {
  text-transform: uppercase;
  font-family: @oswald;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  background-image: url(../../../assets/images/planet_top_m.png);
  background-size: cover;
  background-position: center -5vw;
  background-repeat: no-repeat;
  height: 25vw;
  margin-bottom: 20px;

  span {
    &::before {
      content: "03";
      font-family: @open-sans;
      font-weight: 800;
      display: block;
      font-size: 45px;
      overflow: hidden;
      height: 38px;
      color: #3c3c3c;
    }
  }
}
