@import (reference) "../../../less/fonts";

.portfolio {
  background-color: #ebf0f3;
  font-family: @open-sans;
}

.previewImg {
  background-position: center;
  background-size: cover;
  height: 50vh;
}