@import (reference) "../../../less/fonts";

.footer {
  padding: 10px 0;
}

.footerContent {
  color: #717171;
  text-align: center;

  a {
    font-family: @roboto, serif;
    font-size: 14px;
    margin-bottom: 10px;

    span {
      margin: 0 10px;
    }
  }

  svg {
    color: #000000;
  }
}

.telLink,
.mailLink {
  margin-bottom: 6px;
}

@media (min-width: 768px) {
  .footerContent {
    display: flex;
    text-align: left;
    justify-content: space-between;
  }

  .telLink {
    margin-right: 15px;
  }

  .mailLink {
    flex: 1;
  }
}
