@import (reference) "../../../less/fonts";

@main-bgc: #d6e9f1;

.mainContent {
  position: relative;

  .container {
    height: 100%;
  }
}

.mainBg {
  height: 100%;
  background-color: @main-bgc;
  background-image: url(../../../assets/images/planete_bg.png);
  background-position: 40vw;
  background-repeat: no-repeat;
  background-size: contain;
}


.mainInner {
  font-family: @roboto, serif;
  font-weight: normal;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainLogo {
  margin-bottom: 35px;
}

.mainText {
  line-height: 23px;
  margin-bottom: 35px;
}

.formToggle {
  font-family: @open-sans, serif;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  display: block;
  height: 45px;
  line-height: 45px;
  width: 100%;
  text-align: center;
  transition: 0.01s 0.23s ease-out all;
  overflow: hidden;
  background-color: #000;

  span {
    margin: 0 25px;
  }
}

.mainRight {
  display: none;
}

@media (min-width: 768px) {
  .mainBg {
    margin: 0 15px;
  }

  .mainLogo {
    width: 70%;
  }

  .mainText {
    font-size: 18px;
  }

  .formToggle {
    width: auto;
    padding: 0 20px;
    background-color: transparent;
    position: relative;
    color: #999999;
    transition: 0.5s;

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      background-color: #202020;
      width: 50%;
      transition: 0.4s ease-in-out;
    }

    &::after {
      content: "";
      position: absolute;
      opacity: 0;
      border: 1px solid #8ccce8;
      left: 10px;
      top: 50%;
      width: 10%;
      transition: 0.4s ease-in-out;
    }

    &:hover,
    &:active,
    &:focus {
      &::before {
        transform: translateX(200%);
      }

      &::after {
        opacity: 1;
      }

      & {
        color: #8ccce8;
      }
    }

    span {
      position: relative;
      z-index: 1;
    }
  }
}

@media (min-width: 1280px) {
  .mainInner {
    display: flex;
  }

  .mainLeft {
    width: 50%;
    padding-left: 50px;
  }

  .mainBg {
    background-image: none;
  }

  .mainRight {
    display: block;
    width: 50%;
    align-self: stretch;
  }
}

@media (min-width: 1680px) {
  .mainBg {
    background-image: none;
    margin: 0 auto;
    max-width: 1680px;
  }

  .mainLogo {
    width: 30%;
  }
}
