@import (reference) "../../../../less/utility";

@slide-bg: #f3f4f6;
@text-shadow: #cb203f;

.portfolioItem {
  background-color: @slide-bg;
}

.arrow {
  height: 30px;

  line {
    stroke: #262727;
  }
}

.link {
  color: #262727;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.backLink {
  position: absolute;
  left: 70px;
  top: 70px;
  display: flex;
  z-index: 3;

  .arrow {
    margin-right: 20px;

    svg {
      transform: rotate(-90deg);
    }
  }
}

.navigation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;

  ul {
    display: flex;
    flex-direction: column;
  }

  li {
    margin-bottom: 30px;
  }

  button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #1a1c1b;

    &.active {
      background-color: #1a1c1b;
    }
  }
}

.slide {
  height: 100%;
  width: 100%;
  color: #222222;
  position: absolute;

  .slideContent {
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bgTitle {
    opacity: 0.2;
    display: block;
    position: absolute;
    font-size: 25vh;
    text-transform: uppercase;
    line-height: 0.9;
    font-weight: 800;
    .stroked-text(@slide-bg, @text-shadow);
    white-space: nowrap;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  h4 {
    font-weight: 700;
    color: #171818;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
  }

  &.first {
    padding-left: 70px;
    padding-bottom: 70px;

    .bgTitle {
      white-space: normal;
      width: 200%;
      top: 50%;
      left: auto;
      bottom: auto;
      transform: translateY(-50%) translateX(0);
      padding-left: 10%;

      &::first-line {
        text-indent: -10%;
      }
    }

    .secondRow,
    .firstRow {
      display: flex;
    }

    .firstRow {
      align-items: center;
    }

    .secondRow {
      font-size: 16px;
      line-height: 23px;
      color: #171818;
      font-weight: 400;
      justify-content: space-between;
      padding-right: 70px;

      li {
        width: 32%;
      }
    }

    h1 {
      font-weight: 700;
      font-size: 60px;
      line-height: 67px;
      margin-top: 70px;
    }

    .link {
      margin: 20px 0;

      .arrow {
        margin-left: 20px;

        svg {
          transform: rotate(90deg);
        }
      }
    }

    .image {
      width: 60%;
      flex-shrink: 0;
    }
  }

  &.second {
    h4 {
      text-align: center;

      + div {
        font-size: 16px;
        line-height: 23px;
        color: #171818;
        width: 500px;
        font-weight: 400;
        text-align: center;
        margin: 0 auto;
      }
    }

    .image {

      img {
        width: 200%;
      }
    }
  }

  &.second,
  &.fourth {
    ul {
      display: flex;
    }
  }

  &.third {
    display: flex;

    .left {
      display: flex;
    }
  }
}
